# Normalize to LF in the repo. Shell scripts MUST stay LF to run in Linux images.
* text=auto eol=lf
*.go text eol=lf
*.sh text eol=lf
*.ps1 text eol=crlf
*.png binary
*.pmtiles binary
*.golden text eol=lf
